* {
  font-family: "Libre Franklin", sans-serif;
}

.navbar {
  background-color: rgb(245, 179, 191);
}

body {
  padding-top: 80vh;
  background-size: cover;
  background-position: center;
  height: 50vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  width: 25vh;
}
