.navbar {
  background-color: rgba(147, 131, 235, 0.3);
}

body {
  background-image: url(./img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding-top: 10vh;
  display: grid;
  height: 50vh;
  width: 100vh;
  grid-template-areas:
    "header header header header"
    "left forms forms forms"
    "left forms forms forms"
    "footer footer footer footer"
    "footer footer footer footer";
}

.left {
  padding-top: 5vh;
  grid-area: left;
  font-size: 3vh;
  text-align: center;
}

.forms {
  grid-area: forms;
}

.tribute {
  grid-area: footer;
  padding-top: 5vh;
  text-align: center;
}

img {
  height: 150px;
  width: 180px;
}
